<div class="card nopadding mt-3">
    <div class="card-header  bg-info text-center text-light">
        <strong>Create Loan Request </strong>
    </div>

    <div class="card-body mt-1">
        <form (ngSubmit)="onSubmit()" #loanRequestForm="ngForm" ngNativeValidate>



            <div class="form-group col-md-12">
                <label for="accountId">Account Id</label>
                <input type="text" class="form-control" title="Enter Account Id" id="accountId" required pattern="[0-9]*" minlength="12" maxlength="12" [(ngModel)]="model.accountId" name="accountId" #accountId="ngModel">



                <div *ngIf="!accountId.value && accountId.touched" class="alert alert-danger ">
                    Account Id is required
                </div>


                <div *ngIf="accountId.invalid && accountId.dirty && accountId.value" class="alert alert-danger ">
                    Account Id must be a 12 digit positive integer
                </div>
            </div>




            <div class="form-group col-md-12 ">
                <label for="amount">Enter Loan Amount </label>
                <input type="text" class="form-control" id="amount" required pattern="[0-9]*" [(ngModel)]="model.amount" name="amount" minlength="4" maxlength="10" #amount="ngModel">


                <div *ngIf="!amount.value && amount.touched" class="alert alert-danger ">
                    Amount is required
                </div>

                <div *ngIf="amount.invalid && amount.dirty && amount.value" class="alert alert-danger ">
                    Amount must be a positive integer
                </div>
            </div>





            <div class="form-group col-md-12">
                <label for="type">Loan Type</label>
                <select class="form-control" id="type" name="type" required [(ngModel)]="model.type" #type="ngModel">
                    <option value="Personal Loan">Personal Loan</option>
                    <option value="House Loan">House Loan</option>
                    <option value="Vehicle Loan">Vehicle Loan</option>
                    <option value="Jewel Loan">Jewel Loan</option>
                </select>
                <div *ngIf="!type.value && type.touched " class="alert alert-danger ">
                    Loan Type is required
                </div>



            </div>



            <div class="form-group col-md-12 ">
                <label for="tenure">Tenure(in months)</label>

                <input type="number" class="form-control" id="tenure" required [(ngModel)]="model.tenure" name="tenure" #tenure="ngModel" min="12" max="240" required>

                <div *ngIf="!tenure.value && tenure.touched " class="alert alert-danger ">
                    Tenure is required
                </div>

                <div *ngIf="tenure.invalid && tenure.dirty && tenure.value" class="alert alert-danger ">
                    Tenure must be a positive integer between 2 and 240
                </div>

            </div>




            <div class="form-group col-md-12 ">
                <label for="roi">Enter Rate of Interest </label>
                <input type="number" class="form-control" id="roi" required [(ngModel)]="model.roi" name="roi" min="4.00" max="15.00" step="0.01" #roi="ngModel">

                <div *ngIf="!roi.value && roi.touched " class="alert alert-danger ">
                    Rate of Interest is required
                </div>
                <div *ngIf="roi.invalid && roi.dirty && roi.value" class="alert alert-danger ">
                    Rate of Interest must be a number between 4 & 15
                </div>

            </div>



            <div class="form-group col-md-12 ">
                <label for="creditScore">Credit Score </label>
                <input type="text" class="form-control" id="creditScore" required pattern="[0-9]*" [(ngModel)]="model.creditScore" minlength="3" maxlength="3" name="creditScore" #creditScore="ngModel">

                <div *ngIf="!creditScore.value && creditScore.touched " class="alert alert-danger ">
                    Credit Score is required
                </div>

                <div *ngIf="creditScore.invalid && creditScore.dirty && creditScore.value" class="alert alert-danger ">
                    Credit Score must be a positive integer between 100 & 1000
                </div>
            </div>



            <div class="form-group col-md-12  ">
                <label for="status">Loan Status</label>
                <select class="form-control" id="status" name="status" required [(ngModel)]="model.status" #status="ngModel">
                    <option value="Pending">Pending</option>
                    <option value="Approved">Approved</option>
                    <option value="Rejected">Rejected</option>
                </select>
                <div *ngIf="!status.value && status.touched " class="alert alert-danger ">
                    Loan Status is required
                </div>

            </div>

            <br>

            <div class="d-flex justify-content-center">
                <button type="submit " class="btn btn-info " [disabled]="!loanRequestForm.form.valid ">Submit</button>

            </div>
            <div *ngIf="isProcessing" class="spinner-container d-flex align-items-center justify-content-center flex-column">
                <div class="spinner-border text-info" role="status">

                </div>

            </div>
            <div *ngIf="showToast" class="spinner-container d-flex align-items-center justify-content-center flex-column ">
                <div class="card text-center m-3">
                    <div class="card-header">
                        <b>Loan Request</b>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{dataResponse["message"]}}</p>
                        <button (click)="closeToast()" class="btn btn-primary text-white">Close</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div><br>