<div class="card nopadding mt-3">

    <div class="card-header  bg-info text-center text-light">
        <strong><span class="fa fa-user-circle mr-2"></span>Login</strong>
    </div>

    <div class="card-body mt-1">
        <form (ngSubmit)="onSubmit()" #LoginForm="ngForm">
            <div class="form-group col-md-12 ">
                <label>Username</label>
                <input type="text" id="username" name="username" class="form-control" [(ngModel)]="LoginModel.username" #username="ngModel">

                <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">


                    username is required.


                </div>
                <label>Password</label>
                <input type="password" id="password" name="password" class="form-control" [(ngModel)]="LoginModel.password" #password="ngModel">
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">


                    password is required.


                </div>
                <br>
                <div class="d-flex justify-content-center ">
                    <button type="submit" class="btn btn-info" [disabled]="!LoginForm.form.valid ">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div *ngIf="isProcessing" class="spinner-container d-flex align-items-center justify-content-center flex-column">
        <div class="spinner-border text-info" role="status">
            <!-- <span class="sr-only">Loading...</span> -->
        </div>

    </div>
    <div *ngIf="showToast" class="spinner-container d-flex align-items-center justify-content-center flex-column ">
        <div class="card text-center m-3">
            <div class="card-header">
                <b>Login</b>
            </div>
            <div class="card-body">
                <p class="card-text" id="popup-id">{{dataResponse["message"]}}</p>
                <button (click)="closeToast()" id="popup-btn" class="btn btn-info text-white">Click next to continue</button>
            </div>
        </div>
    </div>