<!-- 
<html>

<p>Main page</p>
<a routerLink="account/add-account">Add account</a><br>
<a routerLink='account/update-name'>Update Name</a><br>
<a routerLink='account/update-contact'>Update Contact</a><br>
<a routerLink='account/update-address'>Update Address</a><br>
<a routerLink='passbook/account-summary'>Account Summary</a><br>
<a routerLink='loan/loan-request'>Loan Request</a><br>
<a routerLink='account/delete-account'>Delete Account</a><br>
<a routerLink='login'>Login</a> <br>
<a routerLink='passbook/passbook-update'>Passbook Update</a><br>
<a routerLink='transaction/credit-slip'>Credit Using Slip</a><br>
<a routerLink='transaction/credit-slip'>Debit Using Slip</a><br>
<a routerLink='loan/loan-disbursal'>Loan Disbursal</a>


<router-outlet>
</router-outlet>
</html> -->


<section>
        <app-nav></app-nav>
        
        <router-outlet></router-outlet>
        <app-footer></app-footer>
</section>