.bg-gradient {
	background: rgb(54,209,220);  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
}

.bg-image {
	background-image : url("src\app\assets\images\bg.jpg");
	background-repeat : no-repeat;
	background-size: 100%;
    background-size: cover;
    background-position: bottom;
    
 } 

 .blur {
	background-color:rgba(0,0,0,0.5);
}
.logo-container
{
	width:150px;
	height:150px;
	background-image : url("src\app\assets\images\logo.png");
	background-repeat : no-repeat;
	background-size: 70%;
	background-position: center;
}
.bg {
    padding-top: 100px;
    background-image: url("src\app\assets\images\logo.png");
    background-repeat: no-repeat;
    background-position: bottom;
}